---
- include_vars: vars_task_directory.yml

- name: Create container and upload a file
  azure_rm_storageblob:
    resource_group: "{{ azure_rg }}"
    storage_account_name: "{{ azure_storage_account_name}}"
    container: "{{ container_name }}"
    batch_upload_src: "{{ path_file }}"
    force: true